# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# VSCode
.vscode/

# Pytest cache
.cache/
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# codes
codes/
/structure.json
/config.json